section {
  margin: 0 auto;
}
.counter {
  float: right;
  font-family: "Bungee", sans-serif;
}
input {
  font-family: "Bungee", sans-serif;
  background-color: #4056A1;
  float: left;
  color: #ffffff;
}
textarea {
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  border-bottom: solid black;
  resize: none;
}
